/* Ring of Fire Loader Animations */
@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 1.5s linear infinite;
}

.animate-spin-fast {
  animation: spin 0.5s linear infinite;
}
