/* TipTap Rich Text Editor Styles */
.ProseMirror {
  outline: none;
}

.ProseMirror p {
  margin: 0.25rem 0;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror li {
  margin: 0.125rem 0;
}

.ProseMirror li p {
  margin: 0;
}

.ProseMirror strong {
  font-weight: 700;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror u {
  text-decoration: underline;
}

/* Note content styles */
.note-content ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin: 0.25rem 0;
}

.note-content ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin: 0.25rem 0;
}

.note-content li {
  margin: 0.125rem 0;
}

.note-content p {
  margin: 0.125rem 0;
}
